/* CSS모듈은 CSS를 불러와서 사용할때 클래스 이름을 고유한 값 형태로 자동으로 만들어줌 */
/* 컴포넌트 스타일 클래스 이름 중첩 방지해주는 기술 */
/* css 클래스 이름을 고유한 값 ( [파일이름]_[클래스명]_[해시값] ) 으로 설정 */

.wrapper {
    background: black;
    padding: 1rem;
    color: white;
    font-size: 2rem;
}

.inverted {
    color: black;
    background: white;
    border: 1px solid black;
}
/* 전역변수로 클래스 선언시 고유값으로 클래스 이름 넣는게 아닌 somting이 됨 */
:global .somthing {
    font-weight: 800;
    color: aqua;
}

/* 라이브러리 classnames  */
/* yarn add classnames  */
/* 
import classnames from 'classnames';

classNames('one','two'); =>'one two'
classNames('one',{two: true}); =>'one two'
classNames('one',{two: false}); =>'one'
classNames('one',['two','three']); =>'one two three'

const myClass = 'hello';
classNames('one',myClass, {myCondition:true}); =>'one hello myCondition'

const MyComponent = ({highlighted, theme}) =>(
    <div className={classNames('MyComponent',{highlighted},theme)}>Hello</div>
) 
*/
/* highlighted 값이 true라면 hightlighted 클래스가 적요되고 false면 적용x */
/* theme로 전달받는 문자열은 내용 그대로 클래스에 적용됨 */
