@import "./styles/utils";
@import "~include-media/dist/include-media"; //반응형 디자인을 쉽게 만들어줌
@import "~open-color/open-color"; //매우 편리한 색상 팔레트인
// 물결 표시는 자동으로 node_module 폴더로 넘어가게함.
// 찾고자하는 scss파일 경로는 공식 메뉴얼에서 알려주지 않을떄가 많으니 직접 경로 찾아야함

.SassComponent {
    display: flex;
    background: $oc-gray-2;
    @include media("<768px") {
        background: $oc-gray-9;
    }
    .box {
        background: red;
        cursor: pointer;
        transition: all 0.3s ease-in;
        // red 클래스가 box 클래스와 함께 사용되었을 때
        &.red {
            background: $red;
            @include square(1);
        }
        &.orange {
            background: $orange;
            @include square(2);
        }
        &.yellow {
            background: $yellow;
            @include square(3);
        }
        &.green {
            background: $green;
            @include square(4);
        }
        &.blue {
            background: $blue;
            @include square(5);
        }
        &.indigo {
            background: $indigo;
            @include square(6);
        }
        &.violet {
            background: $violet;
            @include square(7);
        }
        &:hover {
            // box 클래스에 마우스를 올렸을때
            background: black;
        }
    }
}
